/* COPY this file to "look.css".  Edit THAT file to make things look how you like. */

#gold, #blue {
  position: absolute;
  top: 638px;
}
#gold {
  left: 303px;
}
#blue {
  left: 799px;
  text-align: right;
}

.player {
  background-position: -14px -26px;
  background-repeat: no-repeat;
  background-size: 52px;
  display: inline-block;
  margin: 16px 20px 0 15px;
  height: 18px;
  position: relative;
  width: 25px;
}
#gold #player1,
#blue #player2
{
  background-size: 80px;
  background-position: -27px 0;
}

#blue .player {
  background-position: -13px -26px;
}

.player .wrap {
  color: #ececec;
  left: 0px;
  position: absolute;
  top: -8px;
  width: 40px;
}
.player .k, .player .d {
  font-family: sans-serif;
  font-size: 10px;
}
.player .k {
}
.player .d {
}

#gold .player .wrap {
  left: 27px;
  top: -2px;
}
#blue .player {
}
#blue .player .wrap {
  left: -44px;
  top: -2px;
}


/*
.queenKills {
  bottom: 0;
  height: 12px;
  overflow: hidden;
  position: absolute;
  text-align: center;
  vertical-align: baseline;
  width: 38px;
}
.queenKill {
  background: url(../players/cracked-egg.png) no-repeat;
  background-size: 12px;
  display: inline-block;
  padding: 0 2px;
  width: 8px;
}
*/
.queenKills { display: none; }
