/* COPY this file to "look.css".  Edit THAT file to make things look how you like. */

html, body {
  height: 720px !omportant;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 1280px !important;
}

#gold, #blue {
  color: #bcbcbc;
  font-family: sans-serif;
  height: 550px;
  position: absolute;
  top: 60px;
  width: 90px;
}
#gold { left: 0; }
#blue { right: 0; }

.player {
  background-repeat: no-repeat;
  font-size: 20px;
  height: 110px;
  position: relative;
  width: 90px;
}
#gold .player {
  background-position: top 8px left 10px;
}
#blue .player {
  background-position: top 8px right 10px;
}
#gold #player1 {
  background-position: top 5px left 10px;
}
#blue #player2 {
  background-position: top 5px right 10px;
}


.player .wrap {
  padding-top: 26px;
}
#gold .player .wrap {
  text-align: right;
}
#player1 .wrap, #player2 .wrap {
  padding-top: 24px;
}


.player .name {
	font-size: 12px;
	overflow: hidden;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
  width: 90px;
}


.player.death {
  animation: death-flash linear 1s;
}
@keyframes death-flash {
  0%   { background-color: rgba(255, 0, 0, 0.8); }
  100% { background-color: rgba(255, 0, 0, 0.0); }
}


.eggs {
  height: 17px;
  position: absolute;
  top: 5px;
  white-space: no-wrap;
}
#gold .eggs { right: 0; }
#blue .eggs { left: 0; }

.egg {
  background: url(../players/cracked-egg.png) no-repeat;
  background-size: 12px;
  display: inline-block;
  padding: 0 1px;
  height: 17px;
  width: 12px;
}
