/* COPY this file to "look.css".  Edit THAT file to make things look how you like. */

#gold, #blue {
  position: absolute;
  top: 638px;
}
#gold {
  left: 303px;
}
#blue {
  left: 799px;
  text-align: right;
}

.player {
  background-repeat: no-repeat;
  background-size: 25px;
  display: inline-block;
  margin: 16px 20px 0 15px;
  height: 18px;
  position: relative;
  width: 25px;
}

.player .wrap {
  color: transparent;
  font-family: sans-serif;
  font-size: 9px;
  line-height: 10px;
  margin-top: -2px;
}
.player .k, .player .d {
  color: #ececec;
  position: absolute;
}
.player .k {
  top: 0px;
}
.player .d {
  top: 10px;
}

#gold .player .k,
#gold .player .d
{
  left: 27px;
}
#blue .player .k,
#blue .player .d
{
  right: 28px;
}

.player .name {
  display: none;
}

.queenKills { display: none; }
