#player1 { background-image: url(../players/gold-queen.png); }
#player2 { background-image: url(../players/blue-queen.png); }

#player3[caste="warrior"] { background-image: url(../players/gold-stripes.png); }
#player4[caste="warrior"] { background-image: url(../players/blue-stripes.png); }
#player5[caste="warrior"] { background-image: url(../players/gold-abs.png); }
#player6[caste="warrior"] { background-image: url(../players/blue-abs.png); }
#player7[caste="warrior"] { background-image: url(../players/gold-skulls.png); }
#player8[caste="warrior"] { background-image: url(../players/blue-skulls.png); }
#player9[caste="warrior"] { background-image: url(../players/gold-checks.png); }
#player10[caste="warrior"] { background-image: url(../players/blue-checks.png); }

#gold .player[caste="bot"] { background-image: url(../players/gold-bot.png); }
#blue .player[caste="bot"] { background-image: url(../players/blue-bot.png); }

#player3[caste="bear"] { background-image: url(../players/gold-bear-stripes.png); }
#player4[caste="bear"] { background-image: url(../players/blue-bear-stripes.png); }
#player5[caste="bear"] { background-image: url(../players/gold-bear-abs.png); }
#player6[caste="bear"] { background-image: url(../players/blue-bear-abs.png); }
#player7[caste="bear"] { background-image: url(../players/gold-bear-skulls.png); }
#player8[caste="bear"] { background-image: url(../players/blue-bear-skulls.png); }
#player9[caste="bear"] { background-image: url(../players/gold-bear-checks.png); }
#player10[caste="bear"] { background-image: url(../players/blue-bear-checks.png); }

