#player1 { background-image: url(../players/gold-queen.png); }
#player2 { background-image: url(../players/blue-queen.png); }

#player3 { background-image: url(../players/gold-stripes.png); }
#player4 { background-image: url(../players/blue-stripes.png); }
#player5 { background-image: url(../players/gold-abs.png); }
#player6 { background-image: url(../players/blue-abs.png); }
#player7 { background-image: url(../players/gold-skulls.png); }
#player8 { background-image: url(../players/blue-skulls.png); }
#player9 { background-image: url(../players/gold-checks.png); }
#player10 { background-image: url(../players/blue-checks.png); }

#player3.bear { background-image: url(../players/gold-bear-stripes.png); }
#player4.bear { background-image: url(../players/blue-bear-stripes.png); }
#player5.bear { background-image: url(../players/gold-bear-abs.png); }
#player6.bear { background-image: url(../players/blue-bear-abs.png); }
#player7.bear { background-image: url(../players/gold-bear-skulls.png); }
#player8.bear { background-image: url(../players/blue-bear-skulls.png); }
#player9.bear { background-image: url(../players/gold-bear-checks.png); }
#player10.bear { background-image: url(../players/blue-bear-checks.png); }
